[submodule "dependencies/ceres-solver"]
	path = dependencies/ceres-solver
	url = https://github.com/ceres-solver/ceres-solver.git
[submodule "dependencies/eigen"]
	path = dependencies/eigen
	url = https://gitlab.com/libeigen/eigen.git
